.good-font {
    font-family:Arial, Helvetica, sans-serif
}

.wacky-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card {
    border: none;
}

.home-container {
    background-image: url("Builderz.jpg");
    padding-bottom: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-link:hover {
    color: yellow;
}

#img-heading-1 {
    position: relative;
    text-align: center;
    top: 200px;
}

#img-heading-2 {
    position: relative;
    text-align: center;
    top: 200px;
}

#img-heading-3 {
    position: relative;
    text-align: center;
    top: 225px;
    margin-left: 45%;
}